<aside class="lyear-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="index.html"><img src="../static/images/logo-sidebar.png" title="LightYear"
                                  alt="LightYear"/></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item nav-item-has-subnav ">
                    <a href="index.html"><i class="mdi mdi-home"></i> 后台首页</a>
                </li>
                <li class="nav-item nav-item-has-subnav" >
                    <a href="licenses.html" > <i class="mdi mdi-shape-rectangle-plus"></i>订阅管理</a>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="users.html"><i class="mdi mdi-account-multiple"></i>用户管理</a>
                </li>

            </ul>
        </nav>
    </div>

</aside>